body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  background: #ffffff80;
  background: #d59da740;
}

.correctAnswer {
  background: #adccb4;
  border: 0.1em solid #d59da7;
  color: #53835e;
}
.wrongAnswer {
  background: #ff7676;
}
